.container.py-3
    .row.gutter-1
        .col-12.mt-1
            %h1.h3.font-weight-accent Checkout

        - if any_alerts
            .col-12.py-0= render 'alerts'

        .col-12
            .dashbox
                .dashbox-title
                    %div
                        %i.fa.fa-cubes.mr-2
                        Items
                .dashbox-body.p-0
                    %table.table.table-sm.table-break-word.mb-0
                        %tbody
                            - @cart.products.each do |product|
                                %tr
                                    %td.pl-3
                                        .row.gutter-1
                                            .col-12.font-weight-accent.text-primary.fs-18= "#{product.quantity}x #{product.name}"
                                            .col-md-4.font-weight-bold.fs-14
                                                %span.text-gray-500 UNIT PRICE:
                                                %span.text-gray-700= price_str(product.price / 100)
                                            .col-md-4.font-weight-bold.fs-14
                                                %span.text-gray-500 TOTAL DISCOUNT:
                                                %span.text-gray-700= price_str(product.discount / 100)
                                            .col-md-4.font-weight-bold.fs-14
                                                %span.text-gray-500 TOTAL PRICE:
                                                %span.text-gray-700= price_str(product.price_liquid / 100)

        .col-12
            .dashbox
                .dashbox-title
                    %div
                        %i.fa.fa-credit-card.mr-2
                        Payment
                .dashbox-body.p-3
                    .row.gutter-2.fs-18

                        .col-6.col-md-3.text-gray-700 TOTAL PRICE:
                        .col-6.col-md-9.text-primary.font-weight-accent= price_str(@cart.total / 100)

                        .col-6.col-md-3.text-gray-700 YOU SAVED:
                        .col-6.col-md-9.text-primary.font-weight-accent= price_str(@cart.total_promos / 100)

                        .col-6.col-md-3.text-gray-700 AMOUNT DUE:
                        .col-6.col-md-9.text-primary.font-weight-accent= price_str(@cart.total_payables / 100)
