%ul.nav.nav-transparent

    // ################### USER
    - nav_item_class = 'nav-item'
    %li(class="#{nav_item_class}")
        - if @user.blank?
            = link_to root_path, class: 'nav-link' do
                %i.fa.fa-hand-spock-o
                Welcome!

    .sidebar-spacer

    // ################### DASHBOARD
    - nav_item_class = 'nav-item'
    - if current_page?(root_path)
        - nav_item_class = nav_item_class + ' active'
    %li(class="#{nav_item_class}")
        = link_to root_path , class: 'nav-link' do
            %i.fa.fa-home
            Dashboard

    // ################### CHECKOUT
    - nav_item_class = 'nav-item'
    - if current_page?(cart_checkout_path)
        - nav_item_class = nav_item_class + ' active'
    %li(class="#{nav_item_class}")
        = link_to cart_checkout_path , class: 'nav-link' do
            %i.fa.fa-credit-card
            Checkout

    .sidebar-spacer

    // ################### USER
    - nav_item_class = 'nav-item'
    %li(class="#{nav_item_class}")
        - if @user.blank?
            = link_to 'https://duxcloud.com.br', class: 'nav-link' do
                %i.fa.fa-user-circle-o
                Pedro Dousseau

    // ################### USER
    - nav_item_class = 'nav-item'
    %li(class="#{nav_item_class}")
        - if @user.blank?
            = link_to 'mailto:pedro@duxcloud.com', class: 'nav-link' do
                %i.fa.fa-envelope-o.fa-offset-1
                pedro@dousseau.com

    // ################### USER
    - nav_item_class = 'nav-item'
    %li(class="#{nav_item_class}")
        - if @user.blank?
            = link_to 'https://github.com/dousseaux/qikserve-challenge', class: 'nav-link' do
                %i.fa.fa-github.fs-16
                qikserve Challenge
